.login{
  height:700px;
  width:400px;
  position: absolute;
  left:50px;
  background-color:$login-bg;
  padding: 20px;
  padding-top:50px;
  border-radius: 15px 50px;
  h2{
    text-align:center;
  }
  label{
    font-size:30px;
    color:white;
  }
  .button{
    text-align:center;
  }
  @media screen and (min-width: 767px){
    left:1%;
  }
  @media screen and (min-width: 1200px){
    left:23%;
  }
}