/*** color scheme ***/
$body-bg: #CCFFCC;

/** login **/
$login-bg:#0099CC;

/** nav **/
$nav-bg: #003399;
$nav-item-hover: #CCFFCC;

/** content **/
$car-item-bg: #0099CC;

html,body{
  height:100%;
  background-color:$body-bg;
}

@import "login";
@import "navbar";
 
.content{
  top:100px;
  hr{
    margin-bottom:30px;
    border-top: 2px solid rgba(0,0,0,0.2);
  }
  @media screen and (min-width:767px){
    top:30px;
  }
}

.car-item{
  height: 100%;
  width: 100%;
  background-color: $car-item-bg;
  border-style:solid;
  border-radius: 15px 50px 30px 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  text-align:center;
  img{
    max-width:100%;
    width:350px;
    height:250px;
    margin-bottom:20px;
  }
  @media screen and (min-width:767px){
    h3{
      margin: 30px 0 30px 0;
    }
  }
}

.upload-form{
  height:100%;
  width:90%;
  margin: 0 auto;
  textarea{
    white-space: pre;
    height:300px;
  }
  .text-area{
    height:300px;
  }
  @media screen and (min-width:767px){
    width:60%;
  }
}

.customer-item{
  width:100%;
  height:400px;
  display: block;
  img{
    height:300px;
    height:300px;
    max-width: 100%;
  }
  
}