<h1>Upload Customes Images</h1>
<div class="upload-form">
  <form method="post" enctype="multipart/form-data" action="/admin/customers">
    <div class="form-group">
      <label>Images</label>
      <input type="file" name="img" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>