<h1>DashBoard</h1>
<button type="submit" class="btn btn-success">
  <a href='/admin/upload'>Upload </a>
</button>

<div>
  {{#each cars}}
      <div class="car-item">
        <div>
          <h3>{{this.name}} - {{this.year}}</h3>
          <h4>{{this.id}}</h4>
          <form action="/admin/delete/{{this.id}}" method="post">
            <button type="submit" class="btn btn-danger">
              Delete
            </button>
            
          </form>
        </div>
      </div>
  {{/each}}
</div>