<h1>Upload</h1>
<div class="container">
  <form method="post" enctype="multipart/form-data" action="/admin/upload">
    <div class="form-group">
      <label>Car Name</label>
      <input type="text" name="name">
    </div>
    <div class="form-group">
      <label>Year</label>
      <input type="text" name="year">
    </div>
    <div class="form-group">
      <label>Status</label>
      <input type="text" name="status">
    </div>
    <div class="form-group">
      <label>Odometer</label>
      <input type="text" name="odometer">
    </div>
    <div class="form-group">
      <label>Transmission</label>
      <input type="text" name="transmission">
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" name="description">
    </div>
    <div class="form-group">
      <label>Images</label>
      <input type="file" name="img" multiple="">
    </div>
    <button type="submit" class="btn btn-primary"> Upload</button>
  </form>
</div>