<h1>Upload</h1>
<div class="upload-form">
  <form method="post" enctype="multipart/form-data" action="/admin/upload">
    <div class="form-group">
      <label>Car Name</label>
      <input type="text" name="name" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="text" name="price" class="form-control" placeholder="Price">
    </div>
    <div class="form-group">
      <label>Year</label>
      <input type="text" name="year" class="form-control" placeholder="Year">
    </div>
    <div class="form-group">
      <label>Status</label>
      <input type="text" name="status" class="form-control" placeholder="Status">
    </div>
    <div class="form-group">
      <label>Odometer</label>
      <input type="text" name="odometer" class="form-control" placeholder="Odometer">
    </div>
    <div class="form-group">
      <label>Transmission</label>
      <input type="text" name="transmission" class="form-control" placeholder="Transmission">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea type="text" name="description" class="form-control text-area" placeholder="Description"> </textarea>
    </div>
    <div class="form-group">
      <label>Images</label>
      <input type="file" name="img" multiple="" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>